html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
  ul {list-style-type: none}
  a {text-decoration: none}

@import "content/font/style-font.css";

 /* Fontomas */
* {font-family: "TT Lakes";}
a {font-weight: 500;}
.wrapper__footer-contacts-mail {font-weight: 500;}
.wrapper__footer-contacts-number {font-weight: bold; font-size: 1.5rem;}
.wrapper__footer-lang {word-spacing: 0.3rem;}
.wrapper__footer-lang > * {font-weight: 500; font-size: 1rem;}
 /* Fontomas ends */

:root {
    --b-blue: 2px solid dodgerblue;
    --b-pink: 2px solid pink;
    --b-yellow: 2px solid yellow;
    --b-red: 2px solid red;

    --font-black: #1B1C21;
    --b-highlight-cean: #41F6D7;
    ;
}
/* font color */
* {color: var(--font-black)}


/* HIGHLIGHT can be accessible everywhere, maybe */

.wrapper__main-list-item--active * {filter: contrast(0%);}

.wrapper__main-list-item--active::before{
  content: '';
  position: absolute;
  left: -4px;
  /* transform: translate(-1.75rem, -0.3rem); */
  height: 2rem;
  --thicknes: 0.5rem;
  border-left: var(--thicknes) solid var(--b-highlight-cean);
  border-radius: var(--thicknes);
}

/* icons */

.btn {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--burger-opened {background-image: url("content/icons/ic_burger--opened.svg"); z-index: 99;}
.btn--search {background-image: url("content/icons/ic_search.svg");}
.btn--call {background-image: url("content/icons/ic_call.svg");}
.btn--chat {background-image: url("content/icons/ic_chat.svg");}
.btn--profile {background-image: url("content/icons/ic_profile.svg");}

/* icons end */

  /* scrollbar hidden{ */
    .wrapper {
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-width: none;
  }
  .wrapper::-webkit-scrollbar{display: none;}
  /* }scrollbar hidden */


.wrapper {
  position: fixed;
  display: flex;
  flex-flow: column;
  /* z-index: 99; */
  gap: 2rem;

  width: 320px;
  height: 100lvh;

  padding-block: 1rem;
  padding-inline: 1.5rem;

  box-shadow: 0.1rem 0 4rem 0 rgba(14,24,80,0.33);
  background-color: #fff;
}

.wrapper__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.wrapper__main {
  flex: 1;
  /* margin-top: 2rem; */
}



/* header */
.wrapper__logotype {
  display: flex;
  align-items: center;
}

.wrapper__btn--search {margin-left: auto;}

/* main */
.wrapper__main-list > li {
  padding-block: 1rem;
}

/* footer */
.wrapper__footer-list, .wrapper__footer-contacts {
  display: flex;
  gap: 1rem;
}

.wrapper__footer-lang-ru--active{opacity: 50%;}

.wrapper__footer-contacts {
  flex-direction: column;
  margin-bottom: 2rem;
}
/* ANIMATIONS */
/* Maybe use later for all*/
.wrapper *{transition: all 1s ease-in-out;}
.wrapper button:not(.btn--burger-opened){transition: all 0.2s linear;}

.wrapper button:not(.btn--burger-opened,.--active):hover {opacity: 80%;}
.wrapper button:not(.btn--burger-opened,.--active):active {opacity: 50%;}
/* Maybe use later for all*/


/* list items */
.wrapper__main-list > li:not(.wrapper__main-list-item--active):hover {
  font-size: larger;
  filter: contrast(0%) drop-shadow( 0 0 1rem var(--b-highlight-cean));
}
.wrapper__main-list > li:not(.wrapper__main-list-item--active):active {
  animation: li-active 0.9s running linear infinite;
  cursor: wait;
}

@keyframes li-active {
  100% {
    transform: rotate3d(1, 0, 0, 360deg);
  }
}
/* list items */

/* delete */
.btn--burger-opened:hover {
  animation: cross infinite 1s linear running;
}
@keyframes cross {
  100% {rotate: 360deg;}
}

.btn--burger-opened:active {
  transform: scale(50, 50) rotate(360deg);
}
/* delete */
